<h1> Please enter a sentence</h1>
<form action"/word">
  <div class="form-group">
    <label for = "word"> Please enter a sentence and a word you want counted</label>
    <input id="word" name = "word" class="from-control" type="text">
  </div>
<button type="submit" class="btn-success">Send</button>
</form>
