<h1> Please enter a sentence</h1>
<form action="/word">
  <div class="form-group">
    <label for = "word">Sentence and word</label>
    <input id="word" name = "word" class="from-control" type="text">
  </div>
<button type="submit" class="btn-success">Send</button>
</form>
